/* Editing h1 title of page */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");

.header {
  font-family: "Exo 2", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: skew(0, -10deg);
}

.sweet-title {
  order: 2;
  color: #fffbff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #c34f36, 2px 2px 1px #9a4030, 4px 2px 1px #c34f36,
    3px 3px 1px #9a4030, 5px 3px 1px #c34f36, 4px 4px 1px #9a4030,
    6px 4px 1px #c34f36, 5px 5px 1px #9a4030, 7px 5px 1px #c34f36,
    6px 6px 1px #9a4030, 8px 6px 1px #c34f36, 7px 7px 1px #9a4030,
    9px 7px 1px #c34f36;
}

.sweet-title span {
  display: block;
  position: relative;
}
.sweet-title span:before {
  content: attr(data-text);
  position: absolute;
  text-shadow: 2px 2px 1px #b3c3db, -1px -1px 1px #4b5e7a, -2px 2px 1px #b3c3db,
    1px -1px 1px #191e27;
  z-index: 1;
}
.sweet-title span:nth-child(1) {
  padding-right: 2.25rem;
}
.sweet-title span:nth-child(2) {
  padding-left: 2.25rem;
}
/* End of Title Code */

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  padding-top: 8rem;
}
#start {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #c35036;
  font-family: Verdana;
  font-size: 17px;
  font-weight: bold;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  width: 20em;
}
#start:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
#start:active {
  position: relative;
  top: 1px;
}

#moreInfo {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #c35036;
  font-family: Verdana;
  font-size: 17px;
  font-weight: bold;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  width: 20em;
}
#moreInfo:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
#moreInfo:active {
  position: relative;
  top: 1px;
}

body {
  animation: animatebody 25s linear infinite;
  background-repeat: repeat-x;
  background-size: 100%;
}
@keyframes animatebody {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 95%;
  }
}


/* Modal */
.modal {
  display: none; /* box is hidden until clicked */
  position: fixed; /* stays in place */
  z-index: 1; /* the modal will sit on top of everything */
  padding-top: 75px;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);  /* everything in bg id black w opacity*/
  border-radius: 5px;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 12%;
  font-size: large;
  border-radius: 1.5rem;
  background: linear-gradient(135deg, hsl(216, 36%, 78%),hsl(216, 24%, 39%));
  box-shadow: 0 1rem 2rem #000a;
}

.modalHeader{
  display: flex;
  justify-content: space-between;
  background-color: hsla(216, 36%, 78% , 0.52);
  border-radius: 1.5rem 1.5rem 0 0;
  border: 4px solid #6064682f;
  border-bottom: none;
}

.modalBody{
  padding:1em;
  border-radius: 0 0 1.5rem 1.5rem;
  border: 4px solid #60646844;
  border-top: none;
}

/* The Close Button */
.closeModal {
  color: transparent;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  overflow: hidden;
  background-image:
  linear-gradient(
    to top right,
    transparent 48%,
    white 48%,
    white 52%,
    transparent 52%
  ),
  linear-gradient(
    to top left,
    transparent 48%,
    white 48%,
    white 52%,
    transparent 52%
  );
  margin-top: 1em;
  margin-right: 1em;
}

.closeModal:hover,
.closeModal:focus {
  background-image:
    linear-gradient(
      to top right,
      transparent 46%,
      white 46%,
      white 54%,
      transparent 54%
    ),
    linear-gradient(
      to top left,
      transparent 46%,
      white 46%,
      white 54%,
      transparent 54%
    );
}


/* Animated to come from up top */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.title {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #c35036;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
}
.title:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
.title:active {
  position: relative;
  top: 1px;
}
